@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --iv-font-base: "Inter", sans-serif;
    --iv-primary-color: #ff7f00;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.assetTable {
  width: 600px;
  column-width: 600px;
  border-collapse: collapse;
  border-spacing: 0;
  th,
  td {
    padding: 8px; /* Add padding to table cells */
    text-align: center; /* Align text to the left */
    white-space: nowrap;
  }
  th {
    background-color: #f0f0f0; /* Background color for table header */
    font: normal normal bold 11px/14px Inter;
  }
  td {
    font: normal normal normal 12px/15px Inter;
  }
}

.scanButton {
  background-color: white; /* Green */
  border-width: 2px;
  border-color: #ef7511;
  border-radius: 40px;
  color: #ef7511;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.scanButton:hover {
  background-color: #ef7511;
  color: white;
}

.scannerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-width: 2px;
  border-radius: 40px;
  border-color: #ef7511;
}
